
@import 'knacss/knacss';
@import 'variables';

/*------------------------------------*\
    WRAPPER
\*------------------------------------*/

.wrapper {
  width: 700px;
  margin: 0 auto;
}
.wrapper--full {
  width: 100%;
}

/*------------------------------------*\
    #BAR
\*------------------------------------*/

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  display: none;
}

.app-img {
  width: 140px;
}

.site-nav__app-auth {
  font-family: 'liberation_sansbold';
}

.btn--signin, .btn--login {
  text-decoration: none;
}

.btn--login {
  padding-left: 30px;
}

.btn--signin:hover, .btn--login:hover {
  text-decoration: underline;
}

.app-description {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 400px;
  margin: 0 auto;
}

.app-description__title {
  font-size: $h3-size;
}

.search-quote__input {
  width: 100%;
  border: 0;
  padding: 10px 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(51,51,51,.50);
  font-size: $h5-size;
  transition-duration: 0.3s;
  transition-property: box-shadow;
}

.search-quote__input:hover {
  box-shadow: 0px 0px 5px 0px rgba(85,138,187,.50);
}

.quote__separator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.quote-separator-decoration {
  width: 30%;
  height: 1px;
  background-color: #333;
}

.quote__separator-img {
  width: 25px;
}
